.post {

	color: $font-color-light;
	letter-spacing: 1px;

	h2 {
		font-family: $alt-font;
		font-weight: bold;
		font-size: 30px;
		color: $accent-color;
		letter-spacing: 0;
	}

	p.meta {
		font-family: $alt-font;
		font-size: 16px;
	}

	p.teaser {
		opacity: 0.6;
	}

}

