
body {
	font-family: $main-font;
	font-size: $base-font-size;
}

img {
	width: 100%;
}


input.form-control {
    background-color: transparent;
    border-radius: 0;
}

.row {
	margin-bottom: 30px;
}

.page {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.light {
	color: $font-color-white;
}

.dark {
	color: $font-color-light;
}

.section-heading {
	text-align: center;
	font-style: italic;
	color: $font-color-dark;
	margin-bottom: 2em;

	&:after, &:before  {
	    content:' ';
	    display:block;
	    border-top:3px solid $accent-color;
	    width: 100px;
	    margin: 0.7em auto;
	}	
}

.btn {
	border-radius: 0;
	padding: 14px;
    font-weight: bold;
    font-size: 16px;
}

.btn-primary {
    color: $font-color-dark;
    background-color: transparent;
    border-color: $font-color-dark;
}

.btn-primary:active, .btn-primary:hover, .btn-primary.active, .btn-primary.active:hover, .open > .btn-primary.dropdown-toggle {
    color: $font-color-white;
    background-color: $font-color-dark;
    border-color: $font-color-dark;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}