header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
}

.navbar-default {
  color: $white;
  background-color: $primary-color;
  border: 0;
  padding-top: 1em;
  padding-bottom: 1em;

}

.navbar-default .navbar-nav > li > a {
   color: $white;

}

.navbar-default .navbar-brand {
    color: $white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $white;
    opacity: 0.7;
    transition: 0.3;
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(6) {
  background-color: $white;

  a {
    color: $primary-color;
    font-weight: bold;
  }
}
