#latest {

	a {
		color: $white;

		&:visited, &:active, &:hover {
			color: $white;
		}
	}
}


.image-overlay {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	text-align: center;
	width: 100%;
	font-family: $alt-font;
	font-size: 45px;
	font-weight: 900;
	padding: 10%;

	
}

.color-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #222533;
	opacity: 0.6;
	left: 15px;
	right: 15px;
	outline: 3px solid $white;
  	outline-offset: -32px;
  	transition: 0.3s;
}


.product {

	.image-overlay {
		font-size: 40px;
		font-weight: 300;
		font-style: italic;
	}
}

.image-holder {
	position: relative;

	a {
		background-color: #FFF;
	}
}

.offer .image-overlay {

	&:after, &:before  {
	    content:' ';
	    display:block;
	    border:1px solid $white;
	    width: 50%;
	    margin: 6px auto;
	}	
}
