#subscribe {
	background-image: url("../images/subscribe-1920x250.jpg");

	h3 {
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 30px;
	}

	input.form-control {
		width: 100%;
		padding: 25px;
		color: $white;
	}

	.btn {
		width: 100%;

		&:hover {
			background-color: $font-color-dark;
			color: $white;
		}
	}
}



